# TODO: address pylint warnings in follow-up PR
[MASTER]
ignore=migrations
ignore-patterns=.*migrations.*

[MESSAGES CONTROL]
disable =
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    R0903,  # too-few-public-methods
    R0913,  # too-many-arguments
    R0914,  # too-many-locals
    R0915,  # too-many-statements
    R0911,  # too-many-return-statements
    R0902,  # too-many-instance-attributes
    R1702,  # too-many-nested-blocks
    R0801,  # duplicate-code
    W0511,  # fixme
    C0301,  # line-too-long
    R1732,  # consider-using-with
    W0612,  # unused-variable
    E1101,  # no-member
    W0718,  # broad-exception-caught  (but enable W0702 bare-except and W0703)
    W0102,  # dangerous-default-value
    C0103,  # invalid-name
    E0401,  # import-error
    E0611,  # no-name-in-module

enable =
    W0702,  # bare-except
    W0703,  # broad-except
    W0102,  # dangerous-default-value
    E0001,  # syntax-error
    E0102,  # function-redefined
    E0202,  # method-hidden
    E0203,  # access-member-before-definition
    E0704,  # misplaced-bare-raise
    R1710,  # inconsistent-return-statements
    W1503,  # redundant-unittest-assert

[FORMAT]
max-line-length=120
