target/
**/target/
.git/
.github/
**/__pycache__/
**/*.pyc
**/*.bak
**/*.orig
node_modules/
**/node_modules/
docs/
*.md
!README.md
!CI.md
!Dockerfile*
!docker-compose.yml
!docker-compose*.yml
.dockerignore
.gitignore
