[Unit]
Description=Run SMSLY Hosting Encrypted Database Backup daily

[Timer]
OnCalendar=*-*-* 02:30:00
RandomizedDelaySec=15min
Persistent=true

[Install]
WantedBy=timers.target
